<h1>Create a New Comment!</h1>
<%= bootstrap_form_with model: @comment, url: post_show_path(@post), method: :post, data: {turbo: false } do |f|%>
    <%= f.text_field :content %>
    <%= f.submit %>
<%end%>